#about {
    margin-top: 100px;
}

#title-about {
    border-bottom: 1px solid grey;
}

/* #learn-more {
    cursor: pointer;
    color: blue;
} */

#view-portfolio {
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

#extend-content {
    display: none;
}

.e-hide {
    display: none;
}

.e-show {
    display: block;
}