

#nav-link {
    border-bottom: none;
}

.transparent {
    background-color: white;
    opacity: 0.9;
}

.nav-link:hover {
    border: none;
    font-weight: bold;
}

.nav-link:active {
    border: none;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}