.navbar {
    background-color: #F9E79F;
    opacity: 0.9;
}
.brand-name {
    color: #21618C;
}

#nav-link {
    border-bottom: none;
}

.transparent {
    background-color: white;
    opacity: 0.9;
}

.nav-link:hover {
    border: none;
    font-weight: bold;
}

.nav-link:active {
    border: none;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#social-icon {
    border-bottom: none;
}

#profile-img {
    height: 50px;
    border-radius: 50%;
}



.nav li  .tab-name {
    display: none;
}

.nav li .icon {
    height: 100%;
    padding: 15px;
}

.nav a:hover .icon{
    display: none;
}

.nav li a:hover {
    text-decoration: none;
}

.nav a:hover .tab-name {
    display: block;
    height: 100%;
    padding: 15px;
    text-align: center;
    color: #21618C;
    background-color: #F9E79F;
}

